// slider
$slider-padding-top:10px;
$slider-padding-right: 20px;
$slider-padding-bottom: $slider-padding-top;
$slider-padding-left:0;

$track_width: 6px;
$handle_height: 20px;
$handle_width: $handle_height;

$track_color: gray;
$handle_color: white;



// loader
$loader-dash-offset: 187;
$loader-anim-duration: 1.4s;
