@import 'vars';

.spinner {
  animation: rotator $loader-anim-duration linear infinite;
  width: 40px;
  height: auto;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $loader-dash-offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $loader-anim-duration ease-in-out infinite,
}

@keyframes dash {
 0% { stroke-dashoffset: $loader-dash-offset; }
 50% {
   stroke-dashoffset: $loader-dash-offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $loader-dash-offset;
   transform:rotate(450deg);
 }
}
