
.td_player_container {

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;


  .player_contents {
    flex-basis: 40%;
    flex-grow: 4;
    position:relative;
  }


  &:after {
    content:' ';
    clear:both;
    display:block;
  }

  .volume-slider-container {
    flex-basis:25%;
    min-width:100px;
    flex-grow:1;
    padding:10px 20px 10px 0;
    max-width: 300px;
  }

  .transport-button {
    flex-shrink:0;
    flex-grow: 0;
    padding: 10px 0;
    margin:0 10px 0 0;
    border:none;
    color:#FFF;
    outline: none;
    width: 70px;

    &.playing, &.stopped {
      cursor:pointer;
    }

    .status {
      font-size: 12pt;
      font-weight: normal;
      line-height: 1;
    }

    .transport-icon {
      width: 35px;
      height: 35px;
      display: block;
      margin: 0px auto 4px auto;
      position: relative;
    }
  }

   #tdplayer_ondemand {
    display:none;
  }

  .transport-icon .shape {
    stroke-width:0;
  }

}
